@model IEnumerable<Blog6ITN.Models.Nieuws>
@using Blog6ITN.Models

@{
    ViewBag.Title = "Index";
    BiibContext db = new BiibContext();
    User currentUser = db.Users.ToList().Find(o => o.Email.ToLower() == User.Identity.Name.ToLower());
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
    if (currentUser.Rol == "Admin")
    {
        <p>
            @Html.ActionLink("Toevoegen", "Toevoegen")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inhoud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicatieDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        @if (User.Identity.IsAuthenticated)
        {

            if (currentUser.Rol == "Admin")
            {
                <th></th>
            }
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @item.Inhoud.Substring(0, 50) ...
            </td>
            <td>
                @item.PublicatieDatum.ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            @if (User.Identity.IsAuthenticated)
            {

                if (currentUser.Rol == "Admin")
                {
                    <td>
                        @Html.ActionLink("Aanpassen", "Aanpassen", new { id = item.Id }) |
                        @Html.ActionLink("Verwijderen", "Verwijderen", new { id = item.Id })
                    </td>
                }
            }
        </tr>
    }

</table>
