@model Blog6ITN.Models.Nieuws
@using Blog6ITN.Models
@{
    ViewBag.Title = "Delete";
    BiibContext db = new BiibContext();
    User currentUser = db.Users.ToList().Find(o => o.Email.ToLower() == User.Identity.Name.ToLower());
}
@if (User.Identity.IsAuthenticated)
{
    if (currentUser.Rol == "Admin")
    {
        <h2>Verwijderen</h2>

        <h3>Ben je zeker dat je dit wilt verwijderen?</h3>
        <div>
            <h4>Nieuws</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Inhoud)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Inhoud)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PublicatieDatum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PublicatieDatum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Auteur)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Auteur)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Terug naar lijst", "Overzicht")
                </div>
            }
        </div>
    }
}
else
{
    <h1>Geen Toegang!</h1>
    <h2>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>

}

