@model Blog6ITN.Models.Gip
@using Blog6ITN.Models
@{
    ViewBag.Title = "Details";
    BiibContext db = new BiibContext();
    User currentUser = db.Users.ToList().Find(o => o.Email.ToLower() == User.Identity.Name.ToLower());
}

<h2>Details</h2>

<div>
    <h4>Gip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaatseAanpassing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaatseAanpassing)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (currentUser.Rol == "Admin")
        {
            @Html.ActionLink("Aanpassen", "Aanpassen", new { id = Model.Id })
        }
    }
    @Html.ActionLink("Terug naar overzicht", "Overzicht")
</p>
